language: java
jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk7
install: mvn install -Dmaven.compiler.target=1.8 -Dmaven.compiler.source=1.8 -DskipTests=true
script: mvn test -Dmaven.compiler.target=1.5 -Dmaven.compiler.source=1.5 
